---
import Layout from "../layouts/Layout.astro";
---
<Layout title="404 Not Found">
    <h1 class="text-center font-extrabold text-3xl">404 NOT FOUND</h1>
    <img class="absolute inset-310" src="https://i.pinimg.com/originals/ef/8b/bd/ef8bbd4554dedcc2fd1fd15ab0ebd7a1.gif" alt="Sin Imagen">
</Layout>