---
import Layout from "../layouts/Layout.astro";
---
<Layout title="About">
  <h1 class="text-center font-extrabold text-5xl">SPACEX LAUNCHES</h1>
  <p class="text-lg py-5 text-left">Esta es una aplicación que lleva acabo el consumo de los datos de los lanzamientos de SpaceX</p>
</Layout>