---
import Launches from '../components/Launches.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="SpaceX Launcher">
	<main>
		<h2 class="text-center font-bold">Lanzamientos</h2>
		<Launches/>
	</main>
</Layout>
